@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}

body{
    background-color: #fefefe;
}

nav{
    width: 100%;
    height: fit-content;
    padding: 32px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}

nav .nav-logo{
    letter-spacing: 1px;
    font-size: 18px;
}

nav .nav-link{
    width: fit-content;
    display: flex;
    align-items: center;
}

.nav-link a{
    margin: 0px 15px;
    letter-spacing: 1px;
    width: fit-content;
}

.nav-link a img{
    width: 30px;
    height: 30px;
}

.header-view-produk{
    padding-top: 100px;
}

.outer-search input{
    border: none !important;
    outline: none !important;
}

.outer-search input:focus{
    outline: none !important;
}

.search-btn{
    aspect-ratio: 1/1;
    cursor: pointer;
}

.search-btn img{
    height: 20px;
    aspect-ratio: 1/1;
}

.filter-search{
    cursor: pointer;
}

.kategori-produk h6{
    font-size: 15px;
    cursor: pointer;
}

.img-box-produk{
    aspect-ratio: 1/1;
    cursor: pointer;
}

.img-box-produk img{
    object-fit: cover;
    aspect-ratio: 1/1;
}

.outer-like-produk{
    position: absolute;
    top: 10px;
    right: 10px;
}

.outer-gizi-produk{
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.like-produk{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.like-produk img{
    width: 40%;
    aspect-ratio: 1/1;
}

.box-gizi-produk{
    transition: 0.3s ease;
    transform: translateY(40%);
    opacity: 0;
    cursor: pointer;
}

.box-gizi-produk.active{
    transition: 0.3s ease;
    transform: translateY(0%);
    opacity: 1;
}

.col-gizi-produk{
    transition: 0.3s ease;
    transition-delay: 0.1s;
    transform: translateY(40%);
}

.col-gizi-produk.active{
    transition: 0.3s ease;
    transition-delay: 0.1s;
    transform: translateY(0%);
}

.like-produk{
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.like-produk.active{
    opacity: 1;
    transition: 0.3s ease;
}

.like-produk img{
    transform: scale(0);
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.like-produk img.active{
    transform: scale(1);
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.judul-produk, .harga-produk{
    cursor: pointer;
}

.outer-login{
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
}

.outer-login-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-login-form .login-form{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h1{
    text-align: center;
    font-weight: 500;
}

.outer-login .image-login{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.image-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    border: none;
}

.login-form form{
    width: 80%;
    height: fit-content;
    margin-top: 18px;
}

.login-form form input{
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
    border: 2px solid #c7c7c7;
    margin: 5px 0px 20px ;
}

.login-form form label{
    font-weight: 500;
    margin-left: 5px;
}

.login-form form button{
    width: 100%;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    background-color: #ed9c32;
    font-weight: 500;
    color: #f8f8f8;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.login-form form p{
    color: #4e4e4e;
    text-align: center;
    margin-top: 16px;
}

.login-form form p a{
    color: #ed9c32;
    text-decoration: none;
    font-weight: 500;
}

.outer-detail-produk{
    padding-top: 120px;
}

.img-preview-detail-produk img{
    width: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
}

.text-preview-detail-produk h1{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
}

.text-preview-detail-produk h2{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 10px 0px;
}

.text-preview-detail-produk h3{
    font-size: 18px;
    font-weight: 500;
    color: #4e4e4e;
    letter-spacing: 2px;
}

.text-preview-detail-produk p{
    color: #4e4e4e;
    letter-spacing: 1px;
    margin-top: 15px;
}

.input-qty{
    width: fit-content;
    border-radius: 10px;
    margin-top: 40px;
}

.input-qty h6{
    padding: 12px;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: #efefef;
}

.input-qty input{
    text-align: center;
    outline: none;
    outline-width: 0px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.input-qty input:focus{
    outline: none;
    outline-width: 0px;
}

#kurangJumlah{
    border: 1px solid #dadada;
    border-radius: 10px 0px 0px 10px;
}

#tambahJumlah{
    border: 1px solid #dadada;
    border-radius: 0px 10px 10px 0px;
}

#addCartBtn, #likeBtn{
    cursor: pointer;
    margin: 10px 0px;
}

#likeBtn{
    border: 1px solid #c7c7c7;
}

#addCartBtn img, #likeBtn img{
    width: 20px;
    height: 20px;
}

#addCartBtn h6, #likeBtn h6{
    font-weight: 500;
    margin-left: 10px;
    line-height: 100%;
}

.outer-cart-area{
    padding-top: 100px;
}

.box-cart-produk{
    border-bottom: 2px solid #e7e7e7;
}

.title-cart-produk img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.inner-title-cart-produk h1{
    font-weight: 500;
}

.inner-title-cart-produk h2{
    color: #4e4e4e;
}

.quantity-cart-produk{
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}

.quantity-cart-produk h6{
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    aspect-ratio: 1/1;
}

.quantity-cart-produk input{
    text-align: center;
    width: 60px;
    padding: 0px;
}

.area-quantity-cart-produk img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#removeProduk{
    cursor: pointer;
}

#removeProduk img{
    width: 18px;
    height: 18px;
}

#removeProduk h6{
    color: #4e4e4e;
    font-weight: 500;
    font-size: 14px;
}

.price-cart-produk h6{
    font-weight: 600;
}

.header-checkout-cart{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px dashed #dadada;
}

.area-summary-produk{
    border-bottom: 1px dashed #dadada;
}

.area-summary-produk p{
    margin: 10px 0px;
    color: #4e4e4e;
    font-weight: 500;
}

.area-promo-summary input{
    width: 100%;
    margin-right: 10px;
    border: 1px solid #c7c7c7;
}

.area-promo-summary h1{
    padding: 8px 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    cursor: pointer;
}

.subtotal-summary{
    border-bottom: 1px dashed #dadada;
}

#checkout-btn h1{
    font-weight: 500;
    letter-spacing: 1px;
}